openapi: 3.0.0
info:
  title: EscuelaJS Fake Store API
  version: "1.0"
servers:
  - url: https://api.escuelajs.co/api/v1
paths:
  /products:
    get:
      summary: Lista produtos com paginação
      parameters:
        - name: offset
          in: query
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: Lista de produtos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Product"
    post:
      summary: Cria um produto
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductCreate"
      responses:
        "201":
          description: Produto criado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
  /products/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      summary: Detalhes de um produto
      responses:
        "200":
          description: Produto
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
    put:
      summary: Atualiza um produto
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductCreate"
      responses:
        "200":
          description: Produto atualizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
    delete:
      summary: Remove um produto
      responses:
        "200":
          description: Sucesso
          content:
            application/json:
              schema:
                type: boolean

components:
  schemas:
    Category:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        image:
          type: string
    Product:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        slug:
          type: string
        price:
          type: number
        description:
          type: string
        images:
          type: array
          items:
            type: string
        category:
          $ref: "#/components/schemas/Category"
    ProductCreate:
      type: object
      required: [title, price, description, categoryId]
      properties:
        title:
          type: string
        price:
          type: number
        description:
          type: string
        categoryId:
          type: integer
